@model weddingPlanners.Models.RegisterViewModel
@using weddingPlanners.Models


<h1>Register</h1>
    <form asp-controller="User" asp-action="ProcessRegister" method="post">
        <label asp-for="first_name"></label>
        <input asp-for="first_name"/>
        <span class="error" asp-validation-for="first_name"></span>
        
        <label asp-for="last_name"></label>
        <input asp-for="last_name"/>
        <span class="error" asp-validation-for="last_name"></span>

        <label asp-for="email"></label>
        <input asp-for="email"/>
        <span class="error" asp-validation-for="email"></span>

        <label asp-for="password"></label>
        <input asp-for="password"/>
        <span class="error" asp-validation-for="password"></span>

        <label asp-for="confirm"></label>
        <input asp-for="confirm"/>
        <span class="error" asp-validation-for="confirm"></span>
        <br> 
        <button class="button-primary" type="submit">Register</button>

    </form>
<!-- <div class="one-half column">
        @Html.Partial("Login", (LoginViewModel)@ViewBag.Login)
    </div> -->

        <a href="Login"><button class="btn btn-default" style="float: right">TO LOGIN</button></a>