@model UserDashboard.Models.RegisterViewModel

<button><a class="link" asp-action="Login" asp-controller="Users">Already have an account? Login</a></button>

<h1>Add User Form</h1>
    <form asp-controller="Add" asp-action="AddUser" method="post">
    <span asp-validation-for="FirstName" class="text-danger"></span>
    <br>
    <label asp-for="FirstName">First Name:</label>
    <input class="form-control" type="text"  asp-for="FirstName">
    <br>
    <span asp-validation-for="LastName" class="text-danger"></span>
    <br>
    <label asp-for="LastName">Last Name:</label>
    <input class="form-control" type="text" asp-for="LastName">
    <br>
    <span asp-validation-for="Email" class="text-danger"></span>
    <br>
     <p class="text-danger">@ViewBag.Email</p>
    <label asp-for="Email">Email Address:</label>
    <input class="form-control" type="Email" asp-for="Email">
    <br>
    <span asp-validation-for="Password" class="text-danger"></span>
    <br>
    <label asp-for="Password">Password:</label>
    <input class="form-control" type="Password" asp-for="Password">
    <br>
    <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
    <br>
    <label asp-for="PasswordConfirmation">Password Confirmation:</label>
    <input class="form-control" asp-for="PasswordConfirmation">
    <br>
    <button  type="submit">Add User</button><br><br>

</form>