@model weddingPlanners.Models.Wedding

<a asp-controller="User" asp-action="Logout">Logout</a>
<a href="/Dashboard">HOME</a>
<h2>Update Your Wedding Here!</h2>
       
         
<form asp-controller="Wedding" asp-action="UpdateWedding" method= "post" >
    <label asp-for="SpouseOne"></label>
    <input type="text" asp-for="SpouseOne"/>
    <span class="error" asp-validation-for="SpouseOne"></span>

    <label asp-for="SpouseTwo"></label>
    <input type="text" asp-for="SpouseTwo" />
    <span class="error" asp-validation-for="SpouseTwo" ></span>

    <label asp-for="Date"></label>
    <input asp-for="Date"/>
    <span class="error" asp-validation-for="Date"></span>

    <label asp-for="Address"></label>
    <input asp-for="Address"/>
    <span class="error" asp-validation-for="Address" ></span>
    <input asp-for="UserId" type="hidden">
    <input asp-for="WeddingId" type="hidden">

    <br>
    <button class="button-primary" type="submit" >create</button>

</form>
