<table class="table" border=1>
<tr>
    <th>Ninja Name</th>
    <th>Ninjaing Level</th>
    <th>Description</th>
    <th>Current Dojo</th>
</tr>
<tr>
    <td>@ViewBag.ninja.name</td>
    <td>@ViewBag.ninja.level</td>
    <td>@ViewBag.ninja.description</td>
    <td>@ViewBag.ninja.location</td>  
</tr>
</table><br><br>
<button><a href="/">Go Home</a></button>