<table class="table" border=1>
<tr>
    <th>Dojo Name</th>
    <th>Dojo Location</th>
    <th>Information</th>
   
</tr>
<tr>
    <td>@ViewBag.dojo.name</td>
    <td>@ViewBag.dojo.location</td>
    <td>@ViewBag.dojo.information</td>
</tr>
</table><br><br>
<button><a href="/">Go Home</a></button>